﻿.table > tbody > tr{
    cursor:pointer;
}

.table thead{
    font-size:20px;
}

.table tbody{
    font-size:17px;
}

.page-heading{
    display:inline-block;
}

.control-block{
    float:right;
    margin-top:24px;
}

#add-test-modal{
    margin-top:100px;
}

#add-test-modal .add-btn{
    float:right;
}

#add-test-modal .modal-footer{
    border-top:0;
    margin-top:0;
}

textarea{
    resize:none;
}

#add-test-modal .time-block input{
    display:inline-block;
    margin-right:5px;
    width:70px;
}