﻿<!-- Add Modal -->
<div id="add-test-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new test</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="addTestForm">
                    <div class="form-group">
                        <label for="name-field">Name</label>
                        <input type="text" class="form-control" required placeholder="Enter name" formControlName="name"/>
                    </div>
                    <div class="form-group">
                        <label for="description-field">Description</label>
                        <textarea class="form-control" required placeholder="Enter some description" formControlName="description"></textarea>
                    </div>
                    <div class="form-group time-block">
                        <label for="name-field">Question Time Limit</label>
                        <br />
                        <span>Hours: </span><input type="number" min="0" class="form-control" required placeholder="H" formControlName="hours" />
                        <span>Minutes: </span><input type="number" min="0" class="form-control" required placeholder="M" formControlName="minutes" />
                        <span>Seconds: </span><input type="number" min="0" class="form-control" required placeholder="S" formControlName="seconds" />
                    </div>
                    <button type="submit" class="add-btn btn btn-success" (click)="addTest()" [disabled]="addTestForm.invalid" data-dismiss="modal">Add</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<h1 class="page-heading">List of tests</h1>
<div class="control-block">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-test-modal">Add</button>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let test of tests" (click)="getSelected(test)">
            <td class="first-col"><a (click)="changeRoute(test)">{{test.Name}}</a></td>
            <td>{{test.Description}}</td>
        </tr>
    </tbody>
</table>