﻿<!-- Hint Test Modal -->
<div id="hint-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <blockquote *ngIf="currentQuestion">
                    <p>{{currentQuestion.Hint}}</p>
                    <small>Administrator</small>
                </blockquote>
                <button type="button" class="add-btn btn btn-success" data-dismiss="modal">Got it!</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div *ngIf="startFlag" class="main-block">
    <form [formGroup]="intervieweeForm">
        <div class="form-group">
            <label for="name-field">Your name:</label>
            <input type="text" class="form-control" required placeholder="Enter name" formControlName="interviewee" />
        </div>
        <button type="button" class="add-btn btn btn-success btn-raised" (click)="getInfoAndStartTest()" [disabled]="intervieweeForm.invalid">Start test</button>
    </form>
</div>

<div *ngIf="testFlag" class="quiz-block">
    <h2>Question: {{currentQuestion.Instance}}</h2>
    <h3>Answers:</h3>
    <form>
        <div class="answer-block">
            <div class="form-group" *ngFor="let answer of currentQuestion.Answers">
                <div *ngIf="!currentQuestion.Multiple" class="radio-block">
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="answer.Instance" (click)="selectRadioAnswer(answer)">{{answer.Instance}}</label>
                    </div>
                </div>
                <div *ngIf="currentQuestion.Multiple" class="checkbox-block">
                    <div class="checkbox">
                        <label>
                            <div class="label-space"></div>
                            <input type="checkbox" [value]="answer.Instance" (click)="selectCheckboxAnswer(answer)">
                            {{answer.Instance}}
                        </label>
                    </div></div>
            </div>
        </div>
        <div class="control-block">
            <div class="time-block">
                <span class="text-primary">{{time}}</span>
            </div>
            <button type="button" class="add-btn btn btn-warning btn-raised" data-toggle="modal" data-target="#hint-modal">Hint</button>
            <button type="button" class="add-btn btn btn-success btn-raised" (click)="nextQuestion()">Accept</button>
        </div>
    </form>
</div>

<div *ngIf="finishFlag" class="finish-block">
    <h2>
        That's it! Thank you for passing quiz. The results will be soon. <br /> 
        Have a great day!
    </h2>
</div>