﻿.main-block,
.quiz-block {
    background-color: white;
    padding: 10px 20px;
    padding-bottom: 70px;
    margin-top: 30px;
}

.finish-block {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    margin-top: 30px;
    padding-bottom:25px;
}

.quiz-block .control-block div{
    display:inline-block;
}

.quiz-block .control-block .time-block {
    margin-right: 20px;
    font-size: 20px;
    position: relative;
    top: 3px;
}

.finish-block h2{
    line-height: 2;
}

.main-block button {
    float: right;
}

.quiz-block .form-group{
    margin-top:0;
}

.answer-block{
    margin-top:50px;
}

.quiz-block .form-group .checkbox label, 
.quiz-block .form-group .radio label, 
.quiz-block .form-group label {
    color: black;
    font-size: 20px;
    position:relative;
    top:-3px;
}

.radio label {
    padding-left: 15px;
}

.radio input[type="radio"] {
    opacity: 1;
    width: 20px;
    height: 20px;
    margin: 0;
}

.quiz-block .control-block{
    float:right;
}

.modal{
    margin-top:40px;
    word-wrap: normal;
    overflow: auto;
}

.modal .modal-body button{
    float:right;
}

.modal-header .close {
    margin-top: -9px;
}

.checkbox input[type=checkbox], label.checkbox-inline input[type=checkbox] {
    opacity: 1;
    position: absolute;
    margin: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    overflow: hidden;
    left: 0;
    top:3px;
    pointer-events: none;
}

.quiz-block .label-space{
    display:inline-block;
    width:30px;
}