﻿.page-heading {
    display: inline-block;
}

.control-block {
    float: right;
    margin-top: 24px;
}

.table a{
    cursor: pointer;
}

.table tr{
    cursor:pointer;
}

#add-url-modal {
    margin-top: 80px;
}

#add-url-modal .add-btn {
    float: right;
}

#add-url-modal .modal-footer {
    border-top: 0;
    margin-top: 0;
}

.datetime-block input{
    width:49%;
    display:inline-block;
    margin-left:1px;
    margin-right:1px;
}

tbody > tr.active > td {
    background-color: #40ff00;
}

#delete-url-modal .modal-body p {
    text-align: center;
}

.modal .modal-body button {
    float: right;
}

.modal .modal-footer {
    margin-top: 30px;
}