﻿<!-- Delete Url Modal -->
<div id="delete-url-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete url</h4>
            </div>
            <div class="modal-body">
                <p>This url will be deleted. Are you sure?</p>
                <button type="button" class="btn btn-danger" (click)="removeUrl()" data-dismiss="modal">Delete</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Add Url Modal -->
<div id="add-url-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new url</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="addUrlForm">
                    <div class="form-group test-list">
                        <label for="test-list">List of tests:</label>
                        <select formControlName="testGuid" class="form-control">
                            <option id="default-list-value" disabled selected> -- Select a test -- </option>
                            <option [value]="test.Guid" *ngFor="let test of tests">{{test.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name-field">Interviewee</label>
                        <input type="text" class="form-control" placeholder="Enter interviewee's name" formControlName="interviewee" />
                    </div>
                    <div class="form-group">
                        <label for="name-field">Number of runs</label>
                        <input type="number" min="0" class="form-control" required placeholder="Enter number of runs" formControlName="numberOfRuns" />
                    </div>
                    <div class="form-group datetime-block">
                        <label for="name-field">Allowed start date and time</label>
                        <br />
                        <input type="date" class="form-control" required formControlName="startDate" />
                        <input type="time" class="form-control" required formControlName="startTime"/>
                    </div>
                    <div class="form-group datetime-block">
                        <label for="name-field">Allowed end date and time</label>
                        <br />
                        <input type="date" class="form-control" required formControlName="endDate"/>
                        <input type="time" class="form-control" required formControlName="endTime"/>
                    </div>
                    <button type="submit" class="add-btn btn btn-success" (click)="addUrl()" [disabled]="addUrlForm.invalid" data-dismiss="modal">Add</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<h1 class="page-heading">List of urls</h1>
<div class="control-block">
    <button type="button" class="btn btn-danger" [disabled]="!selectedUrl" data-toggle="modal" data-target="#delete-url-modal">Delete</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-url-modal">Add</button>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Test</th>
            <th>Interviewee</th>
            <th>Allowed Start Date</th>
            <th>Allowed End Date</th>
            <th>Number Of Runs</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let url of testingUrls; let i = index" (click)="selectUrl(url,i)" [class.active]="i == selectedRow">
            <td>{{url.TestName}}</td>
            <td>{{url.Interviewee}}</td>
            <td>{{url.AllowedStartDate}}</td>
            <td>{{url.AllowedEndDate}}</td>
            <td>{{url.NumberOfRuns}}</td>
            <td><a [href]="url.UrlInstance" target="_blank">{{url.UrlInstance}}</a></td>
        </tr>
    </tbody>
</table>