﻿<!-- Delete Test Modal -->
<div id="delete-test-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete test</h4>
            </div>
            <div class="modal-body">
                <p>All questions and answers will be deleted. Are you sure?</p>
                <button type="button" class="btn btn-danger" (click)="removeTest()" data-dismiss="modal">Delete</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Delete Question Modal -->
<div id="delete-question-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete question</h4>
            </div>
            <div class="modal-body">
                <p>All answers will be deleted. Are you sure?</p>
                <button type="button" class="btn btn-danger" (click)="removeTestQuestion()" data-dismiss="modal">Delete</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Edit Test Modal -->
<div id="edit-test-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit information about test</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="editTestForm">
                    <div class="form-group">
                        <label for="name-field">Name</label>
                        <input type="text" class="form-control" required placeholder="Enter name" formControlName="name" />
                    </div>
                    <div class="form-group">
                        <label for="description-field">Description</label>
                        <textarea class="form-control" required placeholder="Enter some description" formControlName="description"></textarea>
                    </div>
                    <button type="button" class="add-btn btn btn-warning" (click)="editTest()" [disabled]="editTestForm.invalid" data-dismiss="modal">Edit</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Add Question Modal -->
<div id="add-question-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new question</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="addQuestionForm">
                    <div class="form-group">
                        <label for="name-field">Question</label>
                        <input type="text" class="form-control" required placeholder="Enter question" formControlName="instance" />
                    </div>
                    <div class="form-group">
                        <label for="name-field">Hint</label>
                        <input type="text" class="form-control" required placeholder="Enter hint" formControlName="hint" />
                    </div>
                    <button type="button" class="add-btn btn btn-success" (click)="addTestQuestion()" [disabled]="addQuestionForm.invalid" data-dismiss="modal">Add</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Edit Question Modal -->
<div id="edit-question-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit question</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="editQuestionForm">
                    <div class="form-group">
                        <label for="name-field">Question</label>
                        <input type="text" class="form-control" required formControlName="instance" />
                    </div>
                    <div class="form-group">
                        <label for="name-field">Hint</label>
                        <input type="text" class="form-control" required formControlName="hint" />
                    </div>
                    <button type="button" class="add-btn btn btn-warning" (click)="editTestQuestion()" [disabled]="editQuestionForm.invalid" data-dismiss="modal">Edit</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Answers Modal -->
<div id="answers-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Work with answers</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="addAnswerForm">
                    <div class="form-group">
                        <label for="name-field">Answer</label>
                        <input type="text" class="form-control" required formControlName="instance" />
                    </div>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="correct">Mark as correct
                    </label>
                    <button type="button" class="add-btn btn btn-success" (click)="addAnswer()" [disabled]="addAnswerForm.invalid">Add</button>
                </form>
                <hr />
                <div class="form-group answer-list">
                    <label for="answer-list">List of answers:</label>
                    <select class="form-control" (change)="onChangeSelectedAnswer($event.target.value)">
                        <option id="default-list-value" disabled selected> -- Select an answer -- </option>
                        <option [value]="answer.Guid" *ngFor="let answer of selectedAnswers">{{answer.Instance}}</option>
                    </select>
                    <button type="button" class="add-btn btn btn-danger" [disabled]="!selectedAnswerGuid" (click)="deleteAnswer()">Delete</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<div class="info-block">
        <h2>Name: {{test.Name}}</h2>
        <h2>Description:</h2>
        <h3>{{test.Description}}</h3>
</div>

<div class="control-block">
    <button type="button" class="btn btn-primary" (click)="changeRoute()">Back</button>
    <button type="button" class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit-test-modal">Edit</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-test-modal">Delete test</button>
</div>
<hr />
<div class="control-block-2">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-question-modal">Add question</button>
</div>
<div class="question-block">
    <div class="question" *ngFor="let question of questions">
        <div class="question-control-block">
            <button type="button" class="btn btn-danger" (click)="selectQuestion(question)" data-toggle="modal" data-target="#delete-question-modal">Delete</button>
            <button type="button" class="btn btn-warning" (click)="selectQuestion(question)" data-toggle="modal" data-target="#edit-question-modal">Edit</button>
            <button type="button" class="btn btn-primary" (click)="selectQuestion(question)" data-toggle="modal" data-target="#answers-modal">Answers</button>
        </div>
        <p class="question-text">{{question.Instance}}</p>
        <p class="hint-text">Hint: {{question.Hint}}</p>
        <hr />
        <h3>Answers:</h3>
        <div class="answers-block">
            <p *ngFor="let answer of question.Answers">
                <span class="answer-text" [class.correct]="answer.IsCorrect">{{answer.Instance}}</span>
            </p>
        </div>
    </div>
</div>