﻿.info-block{
    display: inline-block;
}

.info-block p {
    font-size: 20px !important;
}

.control-block{
    float:right;
    margin-top: 24px;
}

.control-block-2 {
    float: right;
}

.modal{
    margin-top:100px;
}

#delete-test-modal .modal-body p,
#delete-question-modal .modal-body p{
    text-align: center;
}

.modal .modal-body button{
    float:right;
}

.modal .modal-footer{
    margin-top:30px;
}

textarea{
    resize:none;
}

.question-block{
    margin-top:35px;
}

.question {
    background-color: #9999ff;
    margin: 10px 0;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    border-radius: 5px;
}

.hint-text{
    font-size:15px;
}

.question-control-block{
    float:right;
}

.answer-text {
    padding: 5px;
    border-radius: 5px;
    background-color: #ff3333;
}

.answers-block .correct {
    background-color: #40ff00;
}

.answer-list button{
    margin-top:15px;
}