﻿<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quiz Application</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    @Styles.Render("~/Content/quiz-css")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-ui")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/common-dep")
    @Scripts.Render("~/bundles/quiz-passing")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/material-bootstrap-js")
    @RenderSection("scripts", required: false)
    <script>
        $.material.init()
    </script>
    <!-- Angular2 Code -->
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
        System.import('app/error').catch(function (err) { console.error(err); });
    </script>
    <!-- Angular2 Code -->
</body>
</html>