﻿.page-heading {
    display: inline-block;
}

.table tr {
    cursor: pointer;
}

.control-block {
    float: right;
    margin-top: 24px;
}

tbody > tr.active > td {
    background-color: #40ff00;
}

#add-url-modal {
    margin-top: 80px;
}

#delete-result-modal .modal-body p {
    text-align: center;
}

.modal .modal-body button {
    float: right;
}

.modal .modal-footer {
    margin-top: 30px;
}