﻿<!-- Delete Url Modal -->
<div id="delete-result-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete result</h4>
            </div>
            <div class="modal-body">
                <p>This result will be deleted. Are you sure?</p>
                <button type="button" class="btn btn-danger" (click)="removeResult()" data-dismiss="modal">Delete</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<h1 class="page-heading">List of results</h1>
<div class="control-block">
    <button type="button" class="btn btn-danger"  [disabled]="!selectedResult" data-toggle="modal" data-target="#delete-result-modal">Delete</button>
</div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Interviewee</th>
            <th>Test name</th>
            <th>Testing start date/time</th>
            <th>Testing end date/time</th>
            <th>Duration</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of results; let i = index" (click)="selectResult(result,i)" [class.active]="i == selectedRow">
            <td>{{result.Interviewee}}</td>
            <td>{{result.TestName}}</td>
            <td>{{result.TestingStartDateTime}}</td>
            <td>{{result.TestingEndDateTime}}</td>
            <td>{{result.Duration}}</td>
            <td>{{result.Score}}</td>
        </tr>
    </tbody>
</table>