﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['tests']">Quiz app</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['tests']">Tests</a></li>
                <li><a [routerLink]="['urls']">Testing Urls</a></li>
                <li><a [routerLink]="['results']">Results</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="cursor:pointer" (click)="logOut()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class='container'>
    <router-outlet></router-outlet>
</div>